<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="MyDB" connectionString="data source=DESKTOP-DTTIO1V\SQLEXPRESS2008; initial catalog=DB_INVENTARIS;integrated security=true" />
  <add name="AppInventaris.My.MySettings.DB_INVENTARISConnectionString"
   connectionString="Data Source=DESKTOP-DTTIO1V\SQLEXPRESS2008;Initial Catalog=DB_INVENTARIS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>